
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=VT323&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
font-family: "Press Start 2P", serif;
}
.custom-outline {
    -webkit-text-stroke: 3.5px black;  
    text-shadow: 18px 18px 25px #060606; 
    color : rgb(246, 240, 219);
  }